/applying_new_clean.ipynb
/pandas_applying_practice.ipynb
/Practice.ipynb
/practice_1_matplotlib.ipynb
/Practice_exercise.ipynb
/Practice_Exercise_explode.ipynb
/practice_exercise_skill_pay.ipynb
/practice_exercise_skill_pay1.ipynb
/practice_exercise_skill_pay2.ipynb
/practice_exercise_skill_pay3.ipynb
/practice_explode.ipynb
/practice_explode_1.ipynb
/practice_matplotlib_1.ipynb
/practice_matplotlib_charts.ipynb
/practice_matplotlib_customization.ipynb
/practice_matplotlib_pie.ipynb
/practice_matplotlib_scatter.ipynb
/Practice_merging_dataframe.ipynb
/practice_trending_skills.ipynb